#loader {
    position: absolute;
    font-weight: bold;
    width: 150px;
    // color: #FFFFFF ;
    font-size: 11px;
}

#about {
    position: absolute;
    font-weight: bold;
    font-size: 11px;
}

canvas#main-canvas {
    background: #b02e2e;
}

#debug {
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}

